<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="logo">{{data.meta.title}}</a>
      <nav class="main-nav main-nav--mod" aria-label="menu">
        <p class="main-nav__title">Menu</p>
        <ul class="main-nav__list main-nav__list--mod">
          <li class="main-nav__item" *ngFor="let li of data.content">
            <a href="{{li.url}}" class="main-nav__link">{{li.title}}</a>
          </li>
        </ul>
        <a href="{{data.action.url}}" class="transformer-btn transformer-btn--desktop transformer-btn--mobile" (click)="onAction($event)">
          <span class="transformer-btn__span transformer-btn__span--desktop">{{data.action.title}}</span>
          <span class="transformer-btn__span transformer-btn__span--mobile">Let’s start</span>
        </a>
        <button class="close-btn" aria-label="close menu" type="button"></button>
      </nav>
      <button class="burger-btn" type="button" aria-label="open menu">
        <span class="burger-btn__line"></span>
      </button>
    </div>
  </div>
</header>
