<section class="banner">
  <div class="container">
    <div class="banner__inner">
      <div class="banner__content">
        <h1 class="banner__title">{{data.meta.title}}</h1>
        <p class="banner__subtitle">{{data.meta.location}}</p>
        <p class="banner__text wow fadeIn">{{data.meta.description}}</p>
        <a href="{{data.action.url}}" class="btn">{{data.action.title}}</a>
      </div>
      <div class="banner__img" aria-label="Wedding Dance"
        style="background-image: url(../../../../assets/images/content_001.jpg);"></div>
    </div>
  </div>
</section>
