.coaches {
  margin-bottom: 100px;
  &__inner {
    position: relative;
  }
}
.coaches-slider {
  .slick-track{
    display: flex;
    margin: 48px 0 60px;
  }
  .slick-slide {
    height: auto;
  }
}
.coaches-slider {
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin: 0 8px 15px;
  }
  .slick-arrow {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 28px;
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &::before {
      content: '\E00A';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 28px;
      display: block;
      font-size: 28px;
      line-height: 1;
      font-family: "icons";
    }
    &.slick-disabled {
      &::before {
        opacity: 0.3;
      }
    }
  }
  .slick-next {
    left: calc(50% + 80px);
  }
  .slick-prev {
    left: calc(50% - 80px);
    &::before {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
.slider-card {
  &__inner {
    display: flex;
    max-width: 640px;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;   
  }
  &__figure {
    overflow: hidden;
    max-width: 298px;
    min-width: 240px;
    width: 100%;
    min-height: 440px;
    height: auto;
    position: relative;
  }
  &__body {
    padding: 43px 33px;
    width: 100%;
  }
  &__num {
    font-weight: 700;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    margin-bottom: 24px;
  }
  &__list {
    margin-bottom: 88px;
  }
  &__item {
    margin-bottom: 16px;
    span {
      opacity: 0.5;
    }
  }
}