@import "vars";

.offers {
  margin-bottom: 36px;
  position: relative;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 64px;
  }
  &__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    &:hover .offers__item-text::after {
      transform-origin: center;
      transform: scaleX(1);
    }
  }
  &__figure {
    margin-bottom: 20px;
  }
  &__img {
    line-height: 1;
    &::before {
      font-size: 70px;
      color: $accent;
    }
  }
  &__item-text {
    max-width: 187px;
    text-align: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #060606;
      transition: transform .3s;
      transform: scaleX(0);
    }
    &:hover::after {
      transform-origin: center;
      transform: scaleX(1);
    }
  }
}
